.stm_data_like{margin:0 0 30px;cursor:default}.stm_data_like i{color:#dc0606}.stm_data_like span{position:relative;top:-1px;font-size:16px}.stm_data_like.notLiked{cursor:pointer}.stm_data_like.notLiked i{color:#333}