.copyright_box{margin:30px 0 0;padding:30px 0;background-color:#f7f8f9!important}.copyright_box .copyright-text{font-size:13px;line-height:19px}.copyright_box .copyright-image{margin:20px 0 0}.elab_mailchimp+.copyright_box{margin-top:0}