@font-face {
  font-family: 'property-icons';
  src:  url('property-icons.eot?qqpwhn');
  src:  url('property-icons.eot?qqpwhn#iefix') format('embedded-opentype'),
    url('property-icons.ttf?qqpwhn') format('truetype'),
    url('property-icons.woff?qqpwhn') format('woff'),
    url('property-icons.svg?qqpwhn#property-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="property-icon"], [class*=" property-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'property-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.property-icondoctor:before {
  content: "\e900";
}
.property-iconfacemask:before {
  content: "\e901";
}
.property-iconhealthcare-and-medical:before {
  content: "\e902";
}
.property-iconhospital:before {
  content: "\e903";
}
.property-iconmedical-equipment:before {
  content: "\e904";
}
.property-iconmercury:before {
  content: "\e905";
}
.property-iconsoap:before {
  content: "\e906";
}
.property-icontensiometer:before {
  content: "\e907";
}
.property-iconclock-small:before {
  content: "\e949";
}
.property-iconcomment-small:before {
  content: "\e94a";
}
.property-iconuser-small:before {
  content: "\e94b";
}
.property-iconcomment:before {
  content: "\e945";
}
.property-iconshare:before {
  content: "\e946";
}
.property-icontime:before {
  content: "\e947";
}
.property-iconviews:before {
  content: "\e948";
}
.property-iconchevron-circle-down:before {
  content: "\e94c";
}
.property-iconchevron-circle-left:before {
  content: "\e94d";
}
.property-iconchevron-circle-right:before {
  content: "\e94e";
}
.property-iconchevron-circle-up:before {
  content: "\e94f";
}
.property-iconchevron-down:before {
  content: "\e941";
}
.property-iconchevron-left:before {
  content: "\e942";
}
.property-iconchevron-right:before {
  content: "\e943";
}
.property-iconchevron-up:before {
  content: "\e944";
}
.property-iconsearch:before {
  content: "\e950";
}
.property-iconfile-alt:before {
  content: "\e951";
}
.property-iconarrow-down:before {
  content: "\e908";
}
.property-iconarrow-left:before {
  content: "\e909";
}
.property-iconarrow-right:before {
  content: "\e90a";
}
.property-iconarrow-up:before {
  content: "\e90b";
}
.property-iconwhatsapp-square:before {
  content: "\e90c";
}
.property-iconwhatsapp:before {
  content: "\e90d";
}
.property-icontumblr-square:before {
  content: "\e90e";
}
.property-icontumblr:before {
  content: "\e90f";
}
.property-iconyoutube-square:before {
  content: "\e910";
}
.property-iconyoutube:before {
  content: "\e911";
}
.property-iconskype:before {
  content: "\e912";
}
.property-icongoogle-drive:before {
  content: "\e913";
}
.property-icongoogle-play:before {
  content: "\e914";
}
.property-icongoogle-plus-g:before {
  content: "\e915";
}
.property-icongoogle-plus-square:before {
  content: "\e916";
}
.property-icongoogle-plus:before {
  content: "\e917";
}
.property-icongoogle-wallet:before {
  content: "\e918";
}
.property-icongoogle:before {
  content: "\e919";
}
.property-iconsoundcloud:before {
  content: "\e91a";
}
.property-iconreddit-alien:before {
  content: "\e91b";
}
.property-iconreddit-square:before {
  content: "\e91c";
}
.property-iconreddit:before {
  content: "\e91d";
}
.property-icondropbox:before {
  content: "\e91e";
}
.property-icondelicious:before {
  content: "\e91f";
}
.property-icondeploydog:before {
  content: "\e920";
}
.property-icondeskpro:before {
  content: "\e921";
}
.property-icondev:before {
  content: "\e922";
}
.property-icondeviantart:before {
  content: "\e923";
}
.property-icondigg:before {
  content: "\e924";
}
.property-icondigital-ocean:before {
  content: "\e925";
}
.property-icondiscord:before {
  content: "\e926";
}
.property-iconyahoo:before {
  content: "\e927";
}
.property-iconyandex-international:before {
  content: "\e928";
}
.property-iconyandex:before {
  content: "\e929";
}
.property-iconpinterest-p:before {
  content: "\e92a";
}
.property-iconpinterest-square:before {
  content: "\e92b";
}
.property-iconpinterest:before {
  content: "\e92c";
}
.property-iconlinkedin-in:before {
  content: "\e92d";
}
.property-iconlinkedin:before {
  content: "\e92e";
}
.property-icongit-square:before {
  content: "\e92f";
}
.property-icongit:before {
  content: "\e930";
}
.property-icongithub-alt:before {
  content: "\e931";
}
.property-icongithub-square:before {
  content: "\e932";
}
.property-icongithub:before {
  content: "\e933";
}
.property-iconflickr:before {
  content: "\e934";
}
.property-icondribbble-square:before {
  content: "\e935";
}
.property-icondribbble:before {
  content: "\e936";
}
.property-iconbehance-square:before {
  content: "\e937";
}
.property-iconbehance:before {
  content: "\e938";
}
.property-icontwitter-square:before {
  content: "\e939";
}
.property-icontwitter:before {
  content: "\e93a";
}
.property-iconvk:before {
  content: "\e93b";
}
.property-iconinstagram:before {
  content: "\e93c";
}
.property-iconfacebook-f:before {
  content: "\e93d";
}
.property-iconfacebook-messenger:before {
  content: "\e93e";
}
.property-iconfacebook-square:before {
  content: "\e93f";
}
.property-iconfacebook:before {
  content: "\e940";
}
.property-iconplay-audio:before {
  content: "\e952";
}
.property-iconcheckbox:before {
  content: "\e953";
}
