@mixin breakpoint($point) {
    @if $point == laptop {
        @media (max-width: 1440px) {
            @content ;
        }
    } @else if $point == laptop_min {
        @media (min-width: 1024px) {
            @content ;
        }
    } @else if $point == tablet {
        @media (max-width: 1024px) {
            @content ;
        }
    } @else if $point == tabletunder {
        @media (max-width: 1023px) {
            @content ;
        }
    } @else if $point == tabletonly {
        @media (max-width: 769px) {
            @content ;
        }
    } @else if $point == mobile {
        @media (max-width: 550px) {
            @content ;
        }
    } @else if $point == tabletized {
        @media (max-width: 769px) and (min-width: 425px) {
            @content ;
        }
    } @else {
        @media (max-width: $point) {
            @content ;
        }
    }
}

/*Theme Dependency*/
ul.stmt-theme-header_menu {
    position: relative;
}

html body .site-header ul,
html body .site-header ul {
    li.stm_megamenu {
        position: static !important;

        &.stm_megamenu__boxed {
            > ul.sub-menu {
                width: 84%;
            }
        }

        ul.sub-menu {
            display: block;
            text-align: left;
            transition: all 0s ease !important;
            z-index: 999999999;
        }

        &:hover {
            ul.sub-menu {
                transition: all .25s ease !important;
                opacity: 1;
                visibility: visible;
                transform: translateY(5px);
            }
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-top: -9px;
            margin-bottom: 13px;
            position: relative;
            overflow: hidden;
        }

        //LVL 2
        > ul.sub-menu {
            top: 100%;
            left: 0 !important;
            right: 0 !important;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 28px 46px 24px;
            background-color: #ffffff !important;
            background-size: cover;
            transform: translateY(10px);
            box-shadow: 0 0 10px rgba(0, 0, 0, .28);
            opacity: 0;
            visibility: hidden;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: -5px;
                left: 0;
                width: 100%;
                height: 10px;
            }

            .stm_mega_textarea {
                display: block;
                line-height: 18px;
                margin-bottom: 20px;
                position: relative;
                font-size: 13px;
                color: #333333;
                z-index: 10;
                cursor: default;

                b,
                strong {
                    font-size: 14px;
                }
                h4 {
                    font-size: 18px;
                    font-weight: 300;
                }
            }

            > li {
                width: 25%;
                float: none;
                padding: 0 15px;
                margin: 20px 0;
                border: 0;

                &.stm_megamenu_image_block {
                    margin: 32px 0 0 !important;
                    a {
                        border-bottom: 0;
                    }
                    a:hover {
                        margin-right: 0 !important;
                    }
                }

                &:first-child {
                    border-left: 0 !important;
                }

                > a {
                    padding: 0;
                    background-color: transparent !important;
                    letter-spacing: 0;
                    border-bottom: 0;
                    transform: translateX(0) !important;
                    font-size: 16px !important;
                    color: #2f313e;
                    font-weight: 700 !important;
                    text-transform: uppercase;
                    border-bottom: 1px solid #eee;

                    &:before,
                    &:after {
                        display: none !important;
                    }
                }

                li.megamenu-second-level {
                    margin-top: 27px;
                    > a {
                        margin-bottom: 5px !important;
                        padding-bottom: 15px !important;
                        font-size: 16px !important;
                        font-weight: 700 !important;
                        text-transform: uppercase !important;
                        border-bottom: 1px solid #dddddd !important;
                    }
                }

                &:hover {
                    background-color: transparent !important;

                    > a {
                        background-color: transparent !important;
                    }
                }

                &:before,
                &:after {
                    display: none;
                }

                &.menu-item-has-children {
                    a {
                        font-size: 14px;
                        padding-bottom: 13px;
                    }
                }

                &.current-menu-item {
                    a {
                        background: transparent !important;
                    }
                }

                /*LVL3*/
                ul.sub-menu {
                    width: auto;
                    padding: 0;
                    margin: 5px -15px 0;
                    position: static;
                    box-shadow: none;
                    background-color: transparent !important;

                    &:after {
                        display: none;
                    }

                    > li {
                        width: 100%;
                        padding: 5px 15px;
                        border: 0 !important;

                        > a {
                            position: relative;
                            padding: 0 0 0 0;
                            margin:  0;
                            border: 0;
                            letter-spacing: 0;
                            text-transform: none;
                            background-color: transparent !important;
                            font-weight: normal;
                            font-size: 14px;
                            color: #777777;
                            transform: translateX(0) !important;

                            &:after {
                                display: none !important;
                            }

                            @include breakpoint(laptop_min) {
                                color: #333333 !important;
                            }
                            @include breakpoint(tabletunder) {
                                margin: 0 !important;
                            }

                            &:before {
                                display: none;
                            }
                        }

                        &.stm_megamenu_image_block {
                            > a {
                                transform: translateX(0) !important;
                                padding-left: 0 !important;
                                border-bottom: 0 !important;

                                &:after {
                                    display: none !important;
                                }
                            }
                        }

                        &.current-menu-item {
                            background: transparent !important;
                        }

                        &:before,
                        &:after {
                            display: none;
                        }

                        &:hover {
                            background-color: transparent !important;

                            > a {
                                background-color: transparent !important;
                                //color: #595bd4 !important;
                            }
                        }

                        &:last-child {
                            a {
                                margin-bottom: 0 !important;
                            }

                            .stm_mega_textarea {
                                margin-bottom: 0;
                            }
                        }

                        /*LVL4*/
                        ul.sub-menu {
                            margin: 0;
                            border: 0;

                            > li {
                                width: 100%;
                                padding: 0;
                            }
                        }

                        /* Megamenu second column width */
                        &.stm_mega_second_col_width_1 {
                            width: 8.33333333%;
                        }

                        &.stm_mega_second_col_width_2 {
                            width: 16.66666667%;
                        }

                        &.stm_mega_second_col_width_3 {
                            width: 25%;
                        }

                        &.stm_mega_second_col_width_4 {
                            width: 33.33333333%;
                        }

                        &.stm_mega_second_col_width_5 {
                            width: 41.66666667%;
                        }

                        &.stm_mega_second_col_width_6 {
                            width: 50%;
                        }

                        &.stm_mega_second_col_width_7 {
                            width: 58.33333333%;
                        }

                        &.stm_mega_second_col_width_8 {
                            width: 66.66666667%;
                        }

                        &.stm_mega_second_col_width_9 {
                            width: 75%;
                        }

                        &.stm_mega_second_col_width_10 {
                            width: 83.33333333%;
                        }

                        &.stm_mega_second_col_width_11 {
                            width: 91.66666667%;
                        }

                        &.stm_mega_second_col_width_12 {
                            width: 100%;
                        }
                    }
                }

                /* Megamenu column width */
                &.stm_col_width_1 {
                    width: 8.33333333%;
                }

                &.stm_col_width_2 {
                    width: 16.66666667%;
                }

                &.stm_col_width_3 {
                    width: 25%;
                }

                &.stm_col_width_4 {
                    width: 33.33333333%;
                }

                &.stm_col_width_5 {
                    width: 41.66666667%;
                }

                &.stm_col_width_6 {
                    width: 50%;
                }

                &.stm_col_width_7 {
                    width: 58.33333333%;
                }

                &.stm_col_width_8 {
                    width: 66.66666667%;
                }

                &.stm_col_width_9 {
                    width: 75%;
                }

                &.stm_col_width_10 {
                    width: 83.33333333%;
                }

                &.stm_col_width_11 {
                    width: 91.66666667%;
                }

                &.stm_col_width_12 {
                    width: 100%;
                }
            }

            /* Megamenu child columns width */
            .stm_mega_cols_inside {
                &_1 {
                    > ul.sub-menu {
                        > li {
                            width: 8.33333333%;
                        }
                    }
                }

                &_2 {
                    > ul.sub-menu {
                        > li {
                            width: 16.66666667%;
                        }
                    }
                }

                &_3 {
                    > ul.sub-menu {
                        > li {
                            width: 25%;
                        }
                    }
                }

                &_4 {
                    > ul.sub-menu {
                        > li {
                            width: 33.33333333%;
                        }
                    }
                }

                &_5 {
                    > ul.sub-menu {
                        > li {
                            width: 41.66666667%;
                        }
                    }
                }

                &_6 {
                    > ul.sub-menu {
                        > li {
                            width: 50%;
                        }
                    }
                }

                &_7 {
                    > ul.sub-menu {
                        > li {
                            width: 58.33333333%;
                        }
                    }
                }

                &_8 {
                    > ul.sub-menu {
                        > li {
                            width: 66.66666667%;
                        }
                    }
                }

                &_9 {
                    > ul.sub-menu {
                        > li {
                            width: 75%;
                        }
                    }
                }

                &_10 {
                    > ul.sub-menu {
                        > li {
                            width: 83.33333333%;
                        }
                    }
                }

                &_11 {
                    > ul.sub-menu {
                        > li {
                            width: 91.66666667%;
                        }
                    }
                }

                &_12 {
                    > ul.sub-menu {
                        > li {
                            width: 100%;
                        }
                    }
                }
            }
        }

        /* Megamenu columns width */
        &_1 {
            > ul.sub-menu {
                > li {
                    width: 100%;
                }
            }
        }

        &_2 {
            > ul.sub-menu {
                > li {
                    width: 50%;
                }
            }
        }

        &_3 {
            > ul.sub-menu {
                > li {
                    width: 33.33333333%;
                }
            }
        }

        &_4 {
            > ul.sub-menu {
                > li {
                    width: 25%;
                }
            }
        }

        &_5 {
            > ul.sub-menu {
                > li {
                    width: 20%;
                }
            }
        }

        &_6 {
            > ul.sub-menu {
                > li {
                    width: 16.33333333%;
                }
            }
        }

        &_7 {
            > ul.sub-menu {
                > li {
                    width: 14.28571428%;
                }
            }
        }

        &_8 {
            > ul.sub-menu {
                > li {
                    width: 12.5%;
                }
            }
        }

        &_9 {
            > ul.sub-menu {
                > li {
                    width: 11.11111111%;
                }
            }
        }

        &_10 {
            > ul.sub-menu {
                > li {
                    width: 10%;
                }
            }
        }

        &_11 {
            > ul.sub-menu {
                > li {
                    width: 9.09090909%;
                }
            }
        }

        &_12 {
            > ul.sub-menu {
                > li {
                    width: 8.33333333%;
                }
            }
        }

        .stm_megaicon,
        .fa {
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
            min-width: 16px;
            font-size: 14px;
        }

        @include breakpoint(tabletunder) {
            > ul.sub-menu {
                > li {
                    width: 100% !important;
                    float: none !important;
                    margin-bottom: 10px !important;

                    &:after {
                        content: "";
                        display: table;
                        width: 100%;
                    }
                }
            }
        }
    }

    @include breakpoint(tabletunder) {
        li.stm_megamenu {
            position: relative !important;

            > ul.sub-menu {
                padding: 0 !important;
                padding-top: 15px !important;
            }

            .sub-menu {
                box-shadow: none !important;
                background: transparent !important;
                transform: translateY(0) !important;
                max-width: 100% !important;
                margin: 0 0 10px !important;
                padding-left: 20px !important;

                &:before {
                    display: none;
                }

                li {
                    border-left: 0 !important;
                    width: 100% !important;
                    padding: 0 !important;

                    a {
                        margin: 0 !important;
                    }

                    a:after {
                        display: none !important;
                    }

                    /*LVL3*/
                    ul.sub-menu {
                        padding-left: 0 !important;

                        > li {
                            .stm_mega_textarea {
                                color: #ffffff !important;
                            }
                        }
                    }
                }

                > li {
                    margin: 0 0 20px !important;
                }
            }

            &.active {
                .sub-menu {
                    display: block !important;
                }
            }
        }
    }
}

.megamenu-contacts {
    margin-top: -8px;
    margin-bottom: 0;

    tr {
        td {
            vertical-align: top;
            padding: 6px 5px 12px;
            border: 0;

            a {
                color: #333333;
            }

            i {
                margin-top: 2px;
            }
        }

        &:last-child {
            td {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}

@media (max-width: 1025px) {
    html body .site-header ul li.stm_megamenu {
        position: relative !important;
        background-color: transparent;
        > ul.sub-menu {
            display: none;
            padding: 0 15px !important;
            > li {
                margin-top: 0;
                padding: 0;
                width: 100%;
                background-color: transparent;
                &.menu-item-has-children a {
                    //padding-bottom: 17px !important;
                }
                li {
                    float: none !important;
                    padding: 0 !important;
                }
            }
        }
    }
}